body {
    background-color: #f8f8f8;
    color: #737373;
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
    text-align: center;
}

h1 {
    font-size: 2rem;
    font-weight: 200;
    margin-top: 7%;
}

h2 {
    color: #585858;
    font-size: 1.78rem;
    font-weight: 600;
    letter-spacing: 2px;
    margin: 0 0 3%;
    
}

.header-text {
    font-size: 0.85rem;
    font-weight: 100;
    margin: 0 auto 4%;
    width: 61%;
}

/*main-section*/

h3 {
    font-size: 1.35rem;
    font-weight: 600;
    padding-bottom: 2%;
    text-align: left;
}
.box-container {
    position: relative;
}
.boxes {
    box-shadow: 1px 10px #ddd;
    box-sizing: border-box;
    font-size: 0.8rem;
    font-weight: 100;
    margin: 3%;
    padding: 2% 2%;
    text-align: right;
    width: 23%;
}

.text-wrap {
    padding-bottom: 10%;
    text-align: left;
}

.cyan {
    border-radius: 4px;
    border-top: 3px solid cyan;
    left: 140px;
    position: absolute;
    top: 90px;
   
}

.red {
    border-radius: 4px;
    border-top: 3px solid red;
    left: 480px;
    position: absolute;
    top: -40px;
}

.orange {
    border-radius: 4px;
    border-top: 3px solid orange;
    left: 480px;
    position: absolute;
    top: 220px;
}

.blue {
    border-radius: 4px;
    border-top: 3px solid blue;
    position: absolute;
    right: 130px;
    top: 90px;
}

.img {
    width: 23%;
}

/*footer*/

footer {
    margin: 550px 0 0;
}

@media screen and (max-width: 786px) {
    .box-container{
        margin: 5% 15%;
    }
    .boxes {
        padding: 5% 5%;
        margin-bottom:4%;
        width: 63%;
    }
    .cyan {
         position: static;
    }
    .red {
        position: static;
    }
     .orange {
         position: static;
    }
    .blue {
        position: static;
    }
    footer {
        font-size: 0.9rem;
        margin: 60px 0 0;
    }
}
